html {
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: bottom;
    font-size:H 80%;
    text-align:center;
    /*background-color: #0d0d0d;*/
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter-square:hover {
    color: #00aced;
}

.fa-github:hover {
    color: #4078c0;
}

.fa-linkedin-square:hover {
    color: #007bb6;
}

.fa-soundcloud:hover {
    color: #ff3a00;
}
